@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: aquamarine;
  border: 2px solid black;
  font-family: "Poppins", sans-serif;
  font-size: x-large;
}

.container {
  padding: 10px;
  width: 100%;
  border: 3px solid black;
  background-color: rgb(0, 195, 255);
}
.container div {
  border: 2px solid black;
}
.profile {
  border: 3px solid black;
  background-color: white;
}

.profile img {
  width: 100vw;
  height: 100vh;
  border-radius: 50%;
  background-color: white;
  border-bottom: 3px solid black;
}

.profile p {
  background-color: rgb(32, 133, 32);
  padding: 10px;
  font-size: x-large;
  display: flex;
  justify-content: center;
}

.side-align {
  height: 100vh;
  display: grid;
}
.center {
  height: 40vh;
}
.center-aligned {
  background-color: yellow;
  display: grid;
  justify-content: center;
  align-items: center;
}
.top-center {
  background-color: green;
  display: grid;
  justify-content: center;
  align-items: top;
}
.bottom {
  height: 60vh;
}
.top-left {
  background-color: yellow;
}
.bottom-cen {
  background-color: purple;
  color: yellow;
  display: grid;
  justify-content: center;
  align-items: end;
}
.bottom-right {
  background-color: yellow;
  display: grid;
  justify-content: right;
  align-items: end;
}
